body{
    background-color: aqua;
}
header{
    background-color: black !important;
    border: 2px salmon;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}    
header img{
    padding: 25px;
}
nav{
    background-color: blueviolet;
    border:  2px solid brown;
    border-radius: 22px;

}
nav p{
    text-align: center;
    color: white;
    font-size: 40px;
}
section{
    

}



